@font-face {
  font-family: Elegance;
  src: url("fonts/Rounded-Elegance.ttf");
  font-style: normal;
}

@font-face {
  font-family: regularFont;
  src: url("fonts/Calibri-Regular.ttf");
  font-style: normal;
}

@font-face {
  font-family: regularBoldFont;
  src: url("fonts/Calibri-Bold.TTF");
  font-style: normal;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: normal;
}

a {
  text-decoration: none;
  font-family: "regularBoldFont";
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 5px;
  line-height: 26px;
  font-size: 18px;
}

.nomargin {
  margin: 0px !important;
}

p {
  margin: 0 0 10px;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.cv-wrapper .cv-container,
.cv-wrapper .cv-content {
  width: 1080px;
  max-width: 1080px;
}

.content-body ul {
  margin-bottom: 0.5em;
  padding-left: 1.2em;
  list-style-type: disc;
}

.content-body ul ul {
  list-style-type: circle;
}

.cv-wrapper p {
  min-height: 1em;
  letter-spacing: 0.2px;
  font-weight: 400;
}

.cv-container {
  display: block;
  margin: auto;
  padding: 50px 6.5%;
  max-width: 1080px;
  background: white;
}

.cv-container section {
  position: relative;
  word-wrap: break-word;
}

.cv-container article:after {
  content: "";
  display: block;
  clear: both;
}

.cv-container .article-body {
  width: 100%;
  margin-bottom: 30px;
}

.cv-container .article-body h5 {
  margin: -5px 0 12px;
  font-size: 100%;
}

.cv-container .article-body h6 {
  margin: -0 0 15px;
  font-size: 20px;
}

.cv-container .sidebar .article-body h6 {
  margin: 0;
  font-family: "regularBoldFont";
}

.cv-container a[href] {
  color: #428bca;
}

.cv-container .user-contact a[href] {
  color: #333;
  font-family: "regularFont";
}

.cv-container .user-contact a[href] i {
  color: #428bca;
}

.cv-container .cv-content:after {
  content: "";
  display: block;
  clear: both;
}

@page {
  size: A4 portrait;
}

.cv-container h3,
.cv-container h1 {
  font-weight: 400;
  color: #333;
  font-size: 330%;
  font-family: Elegance, sans-serif;
  margin-bottom: 0;
}

.cv-container h2 {
  font-size: 185%;
  font-weight: 500;
  color: #777;
}

.cv-container h3 {
  font-size: 150%;
  font-weight: 600;
  letter-spacing: 0.6px;
}

.cv-container h4,
.cv-container h5,
.cv-container h6 {
  font-size: 120%;
}

.cv-container h4 {
  font-weight: 600;
}

.cv-container h5 {
  font-weight: 300;
}

.cv-container h5,
.cv-container h6 {
  font-weight: 300;
  line-height: 1.5em;
}

.cv-container {
  font-family: regularFont;
  line-height: 26px;
  font-size: 20px;
  background: white;
  padding: 0px;
  color: #333;
}

.cv-container h1,
.cv-container h2,
.cv-container h3,
.cv-container h4,
.cv-container h5,
.cv-container h6 {
  margin-top: 0px;
  margin-bottom: 0.25em;
  line-height: normal;
}

h1.name {
  margin: 0;
}

.cv-container section {
  position: relative;
  margin-bottom: 2em;
}

.cv-container section header {
  width: 100%;
  margin-bottom: 1em;
}

.cv-container section header:after {
  content: "";
  display: block;
  border-bottom: 2px solid black;
  width: 3em;
}

.header-bar {
  align-items: flex-end;
  width: 100%;
  margin: 0 !important;
}

.header-bar .title {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 32px;
}

.header-bar .title span {
  width: 400px;
  float: right;
  display: block;
  background: #428bca;
  height: 12px;
  margin-left: 10px;
  margin-top: 7px;
}

.user-contact li {
  margin-bottom: 0.5em;
}

.user-contact li:before {
  font-family: FontAwesome;
  opacity: 0.25;
  font-size: 100%;
  margin-right: 0.25em;
  display: inline-block;
  text-align: center;
  width: 1.35em;
  vertical-align: middle;
}

/* 
.user-contact li.locality:before {
  content: "\f041";
}

.user-contact li.phone:before {
  content: "\f095";
}

.user-contact li.email:before {
  content: "\f003";
} */

.cv-container .sidebar section header {
  text-transform: capitalize;
}

.cv-container article {
  margin-bottom: 18px;
}

.cv-container .main section,
.cv-container .sidebar section {
  border-top: 1px solid #cccccc;
  padding-top: 1.55em;
}

.cv-container .sidebar section {
  margin: 0;
}

.cv-container .main section:first-child,
.cv-container .sidebar section:first-child {
  border: none;
  padding-top: 0;
}

.cv-container .main section.summary {
  border: 0;
}

.cv-container .profile-body {
  overflow: hidden;
}

.cv-container .profile-body .sidebar {
  width: 30%;
  padding-right: 1.5em;
  float: left;
}

.cv-container .profile-body .main {
  background: white;
  width: 70%;
  padding-left: 1.5em;
  float: left;
  border-left: 1px solid #cccccc;
  margin-top: -7px;
}

.cv-container .competency .competency-bar {
  margin: 0.3em 0px 0.6em;
  width: 100%;
  background-color: white;
  border: 1px solid #cccccc;
  border: 1px solid #428bca;
  border-radius: 2px;
  height: 5px;
}

.cv-container .competency .competency-level {
  background-color: #cccccc;
  background-color: #428bca;
  border-radius: 1px;
  height: 100%;
  width: 80%;
}

.sidebar h3 {
  font-size: 142%;
}

.sidebar .content-body ul ul {
  padding-left: 1em;
}

.sidebar .competency {
  padding-bottom: 12px;
  margin: 0;
  font-size: 16px;
}

.sidebar .competency .competency{
  padding-bottom: 0;
}
.sidebar .competency ul {
  list-style-type: disc;
  list-style-position: inside;
}

.sidebar .competency li {
  margin-bottom: 0;
  line-height: 24px;
}

@media print {
  .cv-container .profile-body {
    display: block;
  }

  .cv-container .profile-body .sidebar {
    flex: 0 0 30%;
  }

  .cv-container .profile-body .main {
    flex: 0 0 70%;
  }
}

@media screen {
  .cv-container .cv-content {
    padding: 2em 0;
  }
}